
<style>
    .myColor {
        background-color: #dd570b !important;
        margin-top: 25px;
        width: 100%;
    }

    .left {
        text-align: left;
        margin-top: 25px;
    }
</style>

<div class="col-md-4 text-center">
    <input type="button" value="GO BACK" class="btn btn-primary myColor"
           onclick="location.href='@Request.UrlReferrer'" />

</div>
<div class="alert alert-warning">
    <h3>There are no Attachments!</h3>
</div>